.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  background-color: #2a2c2f;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
