.cover__overlay {
  width: 100%;
  min-height: 740px;
  padding: 245px 0 0;
  box-sizing: border-box;
  background-color: rgba(42, 44, 47, .3);
  transition: .4s;
}

.cover__overlay:hover {
  cursor: pointer;
  background-color: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
    padding: 195px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
    padding: 115px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
    padding: 33px 0 0;
  }
}
