.cover__background {
  width: 100%;
  min-height: 740px;
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
  }
}
